<mat-card>

  <mat-toolbar color = "primary"  class="toolbar-card">Novo Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="formulario">
      <mat-form-field appearance="fill" class="form-campos">
        <mat-label>Nome do Curso</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-campos">
        <mat-label>Tags do Curso</mat-label>
        <mat-chip-grid #chipgrid>
          <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="removeTag(tag)">
            {{tag.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            [formControl]="tagCtrl"
            [matChipInputFor]="chipgrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addTag($event)" />
        </mat-chip-grid>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button class="form-button" mat-raised-button color="primary" (click)="onSubmit()">Confirmar</button>
    <button class="form-button" mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
