.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.novo-curso{
  height: 56px;
}

.mat-column-tags{
  width: 859.26px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-name{
  width: 600px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions{
  width: 364.8px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
